<body>

    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <span>SPA DIO Teste (Material 1)</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>

    <mat-card class="result">
        <mat-card-content>
            <h2 class="example-h2">(Material 2)</h2>

            <section class="example-section">
                <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                    Clique aqui!
                </mat-slide-toggle>
            </section>
        </mat-card-content>
    </mat-card>

    <h2 class="example-h2">(Material 3)</h2>
    <button mat-raised-button (click)="isEditable = !isEditable">
        {{!isEditable ? 'Modo de Edição' : 'Desabilitar Modo de Edição'}}
      </button>

    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Preencha seu nome</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="firstCtrl" placeholder="Último nome, Primeiro nome" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Preencha seu endereço</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. Rua X, 118, Parque, São Paulo, SP" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Avançar</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concluído</ng-template>
            <p>Concluído.</p>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>


    <h2 class="example-h2">(Material 4)</h2>
    <mat-spinner></mat-spinner>

    <h2 class="example-h2">(Interações 1..3)</h2>
    <section>
        <div class="example-button-row">
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button (click)="cvonclick()" mat-fab color="primary" aria-label="Acesso ao meu curriculum">
              <mat-icon>verified_user</mat-icon>
            </button>
                </div>
                <div class="example-button-container">
                    <button (click)="bookonclick()" mat-fab color="primary" aria-label="Bookmark esta página">
              <mat-icon>bookmark</mat-icon>
            </button>
                </div>
                <div class="example-button-container">
                    <button (click)="reloadonclick()" mat-fab color="primary" aria-label="Recarregar a página">
              <mat-icon>loop</mat-icon>
            </button>
                </div>
            </div>
        </div>
    </section>
</body>